body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    background-color: cornflowerblue;
}

/* Contenedor con GRID para 7 cartillas por fila */
#cartillas {
    display: grid;
    grid-template-columns: repeat(5,1fr); /* Ajuste automático *//* Se ajusta dinámicamente */
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
        
table {
    border-collapse: collapse;
    width: 20rem;
    height: 20rem;
    table-layout: fixed; /* Asegura tamaño uniforme */
}

th, td {
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* Color normal */
.casilla {
    background-color: white;
    transition: background 0.3s ease-in-out;
}

th.infoCartilla{
    background-color: deepskyblue;
}

/* Cuando está marcada */
.marcada {
    background-color: yellow !important;
}

.numerosSalidos {
    text-align: center; /* Centrar el contenido */
    margin-top: 20px;
}

#numerosMarcados {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    flex-wrap: wrap;
    min-height: 40px; /* Reducido para evitar empujar el diseño */
    padding: 10px;
    border: none; //* Da espacio incluso cuando no hay números */
}




@media (max-width: 1650px) {
    #cartillas {
        grid-template-columns: repeat(3, 1fr); /* 3 cartillas por fila en móviles */
    }
}

@media (max-width: 768px) {
    #cartillas {
        grid-template-columns: repeat(2, 1fr); /* 3 cartillas por fila en móviles */
    }
}

@media (max-width: 670px) {
    #cartillas {
        grid-template-columns: repeat(1, 1fr); /* 2 cartillas por fila en pantallas muy pequeñas */
    }
}